:root{
  --bg-color: linear-gradient(to right, #434343 0%, black 100%);
  --txt-color: hsl(120, 84%, 41%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  font-family: monospace;
  background-image: var(--bg-color);
  color: var(--txt-color);
}

h1{
   font-size: 4rem; 
   text-shadow: 0 1px 0 #434343, 0 1px 0 #ccc,
                0 2px 0 #434343, 0 2px 0 #ccc,
                0 3px 0 #434343, 0 3px 0 #ccc,
                0 5px 0 #434343, 0 5px 0 #ccc,
                0 6px 0 #434343, 0 6px 0 #ccc,
                0 8px 0 #434343, 0 8px 0 #ccc,
                0 9px 15px rgba(0, 0, 0, 0.5);
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1rem;
}

.place-content-center{
  height: 100vh;
}

.flex-container *{
  margin: .4rem 0 .4rem;
  padding: .2rem;
  width: 98%;
  color: var(--txt-color);
}

.form-container{
    display: flex;
    flex-direction: column;
}

.form-container input, .form-container button, .write-post-section button{
  background-color: #818181;
}

.form-container input::placeholder, .write-post-section button{
  color: var(--txt-color);
  font-variant: small-caps;
}

a:hover{
  color: var(--txt-color);
}


/*Profile - header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    margin-bottom: 20px;
}

header span{
    font-size: 2rem;
}

.menu-profile-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu-profile-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #818181;
    padding: 0;
}

.menu-profile-container div h2{
    font-size: 1.25rem;
}

.menu-profile-container a{
  font-size: 1rem;
  color: #818181;
  text-decoration: none;
}

.side-nav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
  }

  #close-btn{
    padding: .5rem;
    color: #f1f1f1;
  }

  #user-list a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding-left: .5rem;
    margin-top: 1rem;
    font-size: 1.25rem;
    color: #818181;
  }
  
  .side-nav .profile-options, .side-nav h4{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding-left: .5rem;
    margin-top: 1rem;
    font-size: 1.25rem;
    color: #818181;
  }

  .side-nav h4{
    margin-top: 2.5rem;
    text-decoration: underline;
    color: var(--txt-color);
  }

  .side-nav a:hover {
    color: #f1f1f1;
  }
  
  .side-nav #close-btn {
    font-size: 2rem;
  }

  .profile-hero-section{
    width: 100%;
    background-color: #434343;
  }

  .profile-img{
    max-width: 12rem;
    width: 20%;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .write-post-section{
    width: 100%;
    padding: 1rem;
  }

  .posts-container{
    display: flex;
    flex-direction: column-reverse;
    gap: 4rem;
    margin-top: 1rem;
  }

  .post{
    display: flex;
    flex-direction: column;
    background-color: #434343;
  }

  .post-info{
    margin: 0 2rem 0;
    text-align: start;
    font-style: italic;
  }

  .post-message{
    text-align: start;
    margin-left: 2rem;
    font-size: 1rem;
  }

  .image-select{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-select img{
    border-radius: 50%;
    max-width: 100%;
    width: clamp(5rem, calc(100%/3), 15rem);
    padding: 1rem;
    filter: grayscale(100%);
  }

  .image-select img:hover{
    transition: filter .5s;
    filter: grayscale(0%);
  }

  .a-link{
    text-decoration: none;
    color: var(--txt-color);
  }

  #delete-account:hover{
    color: red;
  }