*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-container{
    display: flex;
    flex-direction: column;
}

/*Profile - header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

header span{
    font-size: 2rem;
}

.menu-profile-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu-profile-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #818181;
    padding: 0;
}

.menu-profile-container div h2{
    font-size: 1.25rem;
}

.menu-profile-container a{
  font-size: 1rem;
  color: #818181;
  text-decoration: none;
}

.side-nav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
  }

  #close-btn{
    padding: .5rem;
    color: #f1f1f1;
  }

  #user-list a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding-left: .5rem;
    margin-top: 1rem;
    font-size: 1.25rem;
    color: #818181;
  }
  
  .side-nav .profile-options, .side-nav h4{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding-left: .5rem;
    margin-top: 1rem;
    font-size: 1.25rem;
    color: #818181;
  }

  .side-nav h4{
    margin-top: 2.5rem;
    text-decoration: underline;
    color: rgba(255, 0, 0, 0.664);
  }

  .side-nav a:hover {
    color: #f1f1f1;
  }
  
  .side-nav #close-btn {
    font-size: 2rem;
  }

  .profile-hero-section{
    background-color: beige;
  }

  .profile-img{
    max-width: 100%;
    border-radius: 50%;
    width: 10%;
    width: 25%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .write-post-section{
    width: 100%;
    padding: 1rem;
    background-color: aquamarine;
  }

  .posts-container{
    display: flex;
    flex-direction: column-reverse;
    gap: 4rem;
    margin-top: 1rem;
  }

  .post{
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
  }

  .post-info{
    display: flex;
    justify-content: left;
    gap: 1rem;
  }

  .post-message{
    text-align: start;
    color: whitesmoke;
  }
